body{
    margin: 0;
}
.flex-container{
    background-color: #191919;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagewrapper{
    display: flex;
    width: 75vw;
    align-items: center;
    justify-content: center;
}